.bar rect {
    fill: #007A87;
}

    .bar rect.success {
        fill: #008000;
    }
    .bar rect.failed {
        fill: #FF0000;
    }
    .bar rect.running {
        fill: #00FF00;
    }

div.tooltip {
    position: absolute;
    text-align: center;
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center;
    width: 240px;
    height: 110px;
    padding: 2px;
    background: white;
    border: 1px;
    border-style: solid;
    border-radius: 3px;
    pointer-events: none;
}

    /*div.tooltip span {*/
      /*display: inline-block;*/
      /*vertical-align: middle;*/
    /*}*/

svg {
    background-color: white;
}
.x-axis path,
.x-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}